*{
	margin: 0px;
	padding: 0px;
}

html{
	scroll-behavior: smooth;
}
body{
	background-color: #2c2c2c;
}
/* Estilo do conteúdo do Menu */

.menu {
	background-color: rgba(35,31,32,255);
	font-family: 'Dosis', sans-serif;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 08px;
	margin: 3px;
	height: 50px;
	position: fixed;
	transition: top 0,2s;
	
}

.menu li{
	padding: 10px;
	list-style: none;
}

.menu li a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	padding: 15px;
}
/* Estilo do conteúdo do Folder */
.folder{
	display: flex;
	min-height: 350px;
	align-items: center;
	justify-content: center;
	box-shadow: 10px white;
	background-color: rgba(35,31,32,255);
}


.folder img{
	margin-top: 100px;
	margin-bottom: 100px;
	height: 23rem;
}

.folder img:hover{
	background-color: rgba(35,31,32,0);
}

/* Estilo do conteúdo do Texto Sobre */

.text{
	font-family: 'Dosis', sans-serif;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: rgba(254,254,254,255);
}

.text h1{
	padding: 10px;
	font-family: 'Dosis', sans-serif;
}

.text p{
	padding: 10px;
	font-size: 25px;
	color: #231c23;
}

/* Estilo do conteúdo da Área Contato */

.contato{
	font-family: 'Dosis', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
	padding: 15px;
}

.contato h1{
	font-size: 40px;
	margin-right: 40px;
	color: white;
}

.contato img{
	height: 0.2px;
}

.contato .jobs{
	color: white;
	font-size: 25px;
}

/* Estilo do conteúdo do Footer */

footer{

	position: inherit;
	font-size: 10px;
	align-items: center;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	background-color: rgba(254,254,254,255);
}

footer h1{
	color: black;
	padding: 10px;
}